# PostgreSQL & pgAdmin
POSTGRES_USER=n8n_user
POSTGRES_PASSWORD=your_strong_password_here
POSTGRES_DB=n8n_database
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_password_here

# Open WebUI Admin (auto-created on first start via entrypoint script)
WEBUI_ADMIN_EMAIL=admin@example.com
WEBUI_ADMIN_USER=admin
WEBUI_ADMIN_PASS=your_strong_password_here
